**/*.ipynb
**/log
**/.vscode
**/__pycache__
**/*.so
*.egg-info
# scripts/
out/
wandb
tests/
shells/
ckpts
log_bkp/
logs/
*.log
run_logs/
**/wandb/
outputs/
multirun/
core
core.*
*.core
MUJOCO_LOG.TXT
.*venv*/
.omc/
